[Unit]
Description=Enable swayidle to lock the screen
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w timeout 600 /usr/local/bin/lock resume '/usr/local/bin/lock unlock' timeout 1800 'niri msg action power-off-monitors' before-sleep '/usr/local/bin/lock nobright'
Restart=on-failure
