[Unit]
Description=Fill the background with our image-configured default
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -m fill -i /usr/share/backgrounds/bulletcluster-darkmatter.png
Restart=on-failure
