environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

input {
    keyboard {
        xkb {}
        numlock
    }

    touchpad {
        tap
        dwt
        accel-profile "flat"
        scroll-method "two-finger"
        disabled-on-external-mouse
    }

    mouse {
        accel-profile "flat"
    }

    trackpoint {}

    focus-follows-mouse max-scroll-amount="30%"
}

output "LG Electronics 27GL650F 0x0004DD95" {
    transform "90"
}
output "LG Electronics 34GK950F 0x0005D90E" {
    variable-refresh-rate on-demand=true
}

layout {
    gaps 4

    center-focused-column "on-overflow"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { }
    focus-ring {
        width 4
        active-color "#dfbf9f"
        inactive-color "#a68059"
    }

    border {
        off
    }

    shadow { }

    struts {
        left 4
        right 4
        top 4
        bottom 4
    }
}

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/screenshots/screenshot-%Y-%m-%d %H-%M-%S.png"

animations {
    slowdown 0.2
}



binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Return cooldown-ms=500 hotkey-overlay-title="Open a Terminal: alacritty" { spawn "alacritty"; }
    Mod+D repeat=false hotkey-overlay-title="Run an program: fuzzel" { spawn "fuzzel"; }
    Super+Alt+L repeat=false hotkey-overlay-title="Lock the Screen: swaylock" { spawn "lock"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "light" "-A" "5"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "light" "-U" "5"; }

    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+Shift+Y { move-workspace-to-monitor-previous; }
    Mod+Shift+P { move-workspace-to-monitor-next; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+Tab { focus-workspace-previous; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+Ctrl+Shift+F { toggle-windowed-fullscreen; }

    Mod+C { center-column; }

    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+Shift+space       { toggle-window-floating; }
    Mod+space { switch-focus-between-floating-and-tiling; }

    Mod+S { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape { quit; }
}

gestures {
    hot-corners {
        off
    }
}

workspace "terminal" {
    open-on-output "LG Electronics 34GK950F 0x0005D90E"
}
workspace "browser" {
    open-on-output "LG Electronics 27GL650F 0x0004DD95"
}
workspace "chat" {
    open-on-output "LG Electronics 27GL650F 0x0004DD95"
}
workspace "redhat" {
    open-on-output "LG Electronics 27GL650F 0x0004DD95"
}
workspace "slack" {
    open-on-output "LG Electronics 27GL650F 0x0004DD95"
}
workspace "spotify" {
    open-on-output "LG Electronics 27GL650F 0x0004DD95"
}

window-rule {
    open-focused true
}

// Startup
spawn-at-startup "alacritty"
window-rule {
    match app-id="^Alacritty$" at-startup=true
    default-column-width { proportion 1.0; }
    open-on-workspace "terminal"
    open-focused false
}
spawn-at-startup "flatpak" "run" "com.discordapp.Discord"
spawn-at-startup "flatpak" "run" "im.riot.Riot"
spawn-at-startup "/usr/local/bin/niri-stack-chat.sh"
window-rule {
    match app-id="^discord$" at-startup=true
    match app-id="^im.riot.Riot$" at-startup=true
    default-column-width { proportion 1.0; }
    open-on-workspace "chat"
    open-focused false
}
spawn-at-startup "google-chrome-wayland" "--profile-directory=Default"
window-rule {
    match app-id="^google-chrome$" at-startup=true
    default-column-width { proportion 1.0; }
    open-on-workspace "browser"
    open-focused false
}
spawn-at-startup "flatpak" "run" "com.slack.Slack"
window-rule {
    match app-id="^Slack$" at-startup=true
    default-column-width { proportion 1.0; }
    open-on-workspace "slack"
    open-focused false
}
spawn-at-startup "flatpak" "run" "com.spotify.Client"
window-rule {
    match app-id="^Spotify$" at-startup=true
    default-column-width { proportion 1.0; }
    open-on-workspace "spotify"
    open-focused false
}

// Floating
window-rule {
    match app-id="^steam$"
    open-floating true
}

// Games
window-rule {
    match app-id="^steam_app_.*"
    open-fullscreen true
    open-on-output "LG Electronics 34GK950F 0x0005D90E"
    variable-refresh-rate true
}

// Recorded
window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}
