// Some high-level rules live here to deliberately be overridden

// Games
window-rule {
    match app-id="^steam_app_.*"
    open-fullscreen true
    variable-refresh-rate true
}

// Put machine-specific configuration overrides here, they will never be populated by the image
