[Unit]
Description=Update Proton-GE on session start
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/nm-online -s -q -t 180
ExecStart=/usr/local/bin/protonup -y
