[Unit]
Description=Complete Waydroid one-time setup
Requires=network.target
After=network.target
ConditionPathExists=!/var/lib/waydroid/one-time-setup-complete

[Service]
Type=oneshot
ExecStart=/usr/local/bin/waydroid-one-time-setup

[Install]
WantedBy=basic.target
